<div class="container" id="debts-container">
    <a routerLink="/dashboard{{member!=null?'/'+member:''}}">&lt;&lt; Back to dashboard</a>
    <hr/>
    <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>
             Debts
            </h4>
          </div>
          <table class="table table-fixed">
            <thead>
              <tr>
                <th class="col-xs-2">#</th>
                <th class="col-xs-2" *ngIf="user.role=='admin'">User</th>
                <th class="col-xs-2">Amount</th>
                <th [ngClass]="user.role=='admin' ? 'col-xs-4' : 'col-xs-6'">Description</th>
                <th class="col-xs-2">Date</th>
              </tr>
              
            </thead>
            
            <tbody>
              <tr *ngFor="let debt of debts;let i = index">
                <td class="col-xs-2">{{i+1}}</td>
                <td class="col-xs-2" *ngIf="user.role=='admin'">{{debt.username}}</td>
                <td class="col-xs-2">{{debt.amount}}</td>
                <td [ngClass]="user.role=='admin' ? 'col-xs-4' : 'col-xs-6'">{{debt.desc}}</td>
                <td class="col-xs-2">{{debt.date | date:'MM/dd/y'}}</td>
              </tr>

            </tbody>
          </table>
        </div>
    </div>
    <div class="row" *ngIf="user.role==='admin'">
      <button class="btn-lg btn-primary" routerLink="/adddebt{{member!=null ? '/'+member: ''}}">Add Debt</button>
    </div>
    
  </div>