<div class="container">
    <a routerLink="/debts{{member!=null?'/'+member:''}}">&lt;&lt; Back to Debts</a>
    <hr/>
  <h1>Add Debt</h1>
  <form (ngSubmit)="f.form.valid && addDebt()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label for="username">User</label>
      <select class="form-control" id="username" name="username" required [(ngModel)]="debt.username" #username="ngModel" autofocus placeholder="User">
        <!--<option value="">-Select-</option>-->
        <option *ngFor="let user of users"  value="{{user.username}}">{{user.username}}</option>
      </select>
      <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !amount.valid }">
      <label for="amount">Amount</label>
      <input type="number" class="form-control" name="amount" id="amount" [(ngModel)]="debt.amount" #amount="ngModel" placeholder="Amount" required >
      <div *ngIf="f.submitted && !amount.valid" class="help-block">Amount is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !desc.valid }">
        <label for="amount">Description</label>
        <input type="text" class="form-control" name="desc" id="desc" [(ngModel)]="debt.desc" #desc="ngModel" placeholder="Description" required >
        <div *ngIf="f.submitted && !desc.valid" class="help-block">Description is required</div>
    </div>
    <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !date.valid }">
        <label for="date">Date</label>
        <input type="text" class="form-control" name="date" id="date" [(ngModel)]="debt.date" #date="ngModel" placeholder="Date" required >
        <div *ngIf="f.submitted && !date.valid" class="help-block">Date is required</div>
    </div>-->
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !date.valid }">
      <label for="date">Date</label>
      <input type="text" class="form-control" name="date" id="date" [(ngModel)]="debt.date" #date="ngModel" placeholder="Date" required bsDatepicker [placement]="right" />
      <div *ngIf="f.submitted && !date.valid" class="help-block">Date is required</div>
  </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>

  </form>
</div>